.vdr-ch-select {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.vdr-ch-select-col {
    display: table-cell;
    padding: 10px;
}
.vdr-ch-select-col-left{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vdr-ch-select-col-right{
    vertical-align: middle;
    width: 80px;
}

.vdr-channel-list-nr-col {
    align: right;
}
.vdr-ch-select-scroll-button {
    border: none;
    padding: 0px 0px;
    margin: 2px 2px;
    cursor: pointer;
}
.vdr-ch-select-scroll-button:hover {
    background-color: yellow;
}
.vdr-rec-select {
    border: 1px solid green;
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
}
.vdr-rec-select-col {
    display: table-cell;
    padding: 10px;
}
.vdr-rec-select-col-left{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vdr-rec-select-col-right{
    vertical-align: middle;
    width: 80px;
}
.vdr-rec-list-duration-col {
    text-align: center;
    white-space:nowrap;
    width: 80px;
    border: 1px solid green;
}
.vdr-rec-list-date-col {
    text-align: center;
    white-space:nowrap;
    width: 80px;
    border: 1px solid green;
}
.vdr-rec-list-title-col {
    white-space: nowrap;
    overflow: hidden;
}
.vdr-rec-select-scroll-button {
    border: none;
    padding: 0px 0px;
    margin: 2px 2px;
    cursor: pointer;
}
.vdr-rec-select-scroll-button:hover {
    background-color: yellow;
}
